streamlit==1.31.1
langchain==0.1.16
langchain-community==0.0.36
langchain-huggingface==0.0.6
chromadb==0.4.24
huggingface_hub==0.21.4
sentence-transformers==2.6.1
PyPDF2==3.0.1
protobuf==4.25.3

